.container-app{
	width: 480px;
	margin: 0 auto;
	border: 2px solid #ced4da;
	height: 450px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-app .row .col-11 form{
	width: 100%;
	padding-top: 20px;
}

.container-app .row .col-11 form input{
	outline: none;

	width: 100%;
	height: 70px;
	border: none;
	border: 2px solid #ced4da;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	font-size: 25px;
	padding: 15px;


}

.container-app .row .col-3 .operation, .container-app .row .col-9 .number, .container-app .row .col-9 .clear{
	display: inline-block;
	padding: 8px 39px 10px 39px;
	font-size: 25px;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: #ddd;
	color: #060606;
 	min-width: 94px;

}

 .container-app .row .col-9 .number, .container-app .row .col-9 .clear{
 	min-width: 95px;
 }

  .container-app .row .col-3 .result{
  	height: 246px;
    border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	min-width: 95px;
	background-color: #4e8ffe;
  }
